<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>About Bera Coskun</title>
  <link async rel="stylesheet" href="../public/css/semantic.min.css" />
  <link async rel="stylesheet" href="../public/css/about.css" />
  <script async src="../public/js/semantic.min.js"></script>
</head>

<body>
  <div class="ui two column divided grid">
    <div class="left floated column">
      <div class="ui text container">
        <h2 class="ui center aligned huge header">Our Team</h2>
      </div>
      <div class="ui two column doubling grid">
        <div class="row">
          <div class="column">
            <a href="./AboutMeTemplate.html">
              <img src="https://via.placeholder.com/300" class="ui small centered circular image" />
            </a>
            <h3 class="ui center aligned header">
              Your Name
            </h3>
            <h4 class="ui center aligned grey header">
              Your Role Here
              <br><br>
            </h4>
          </div>
          <div class="column">
            <a href="./AboutMeTemplate.html">
              <img src="https://via.placeholder.com/300" class="ui small centered circular image" />
            </a>
            <h3 class="ui center aligned header">
              Your Name
            </h3>
            <h4 class="ui center aligned grey header">
              Your Role Here
              <br><br>
            </h4>
          </div>
          <div class="column">
            <a href="./AboutMeTemplate.html">
              <img src="https://via.placeholder.com/300" class="ui small centered circular image" />
            </a>
            <h3 class="ui center aligned header">
              Your Name
            </h3>
            <h4 class="ui center aligned grey header">
              Your Role Here
              <br><br>
            </h4>
          </div>
          <div class="column">
            <a href="./AboutMeTemplate.html">
              <img src="https://via.placeholder.com/300" class="ui small centered circular image" />
            </a>
            <h3 class="ui center aligned header">
              Your Name
            </h3>
            <h4 class="ui center aligned grey header">
              Your Role Here
              <br><br>
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="right floated column">
      <div class="ui text container">
        <a href="./AboutMeTemplate.html">
          <img src="../public/images/bera.jpg" class="ui large centered circular image" />
        </a>
        <div class="ui text container">
          <h2 class="ui center aligned huge header">Bera Coskun</h2>
          <h3 class="ui center aligned grey header">
            Front End Lead
          </h3>
        </div>
        <div class="ui text container">
          <p>
            I'm currently an undergraduate student studying Computer Science at SFSU. I'm excited about both design and computer science. There is something extremely satisfying about creating, and programming is an incredible way to create something useful.
          </p>
        </div>

      </div>
    </div>
  </div>
</body>

</html>
